/* .aboutimg {height:100px; width:100%;}

.simp {margin-left:45px;}

.hr {color:rgb(168, 223, 237);}

.abouth1 {text-align:center; font-size: 40px; font-family:Serif; font-weight: strong;}

.aboutimage {width:34%; height: 200px;location:absolute; border:solid;padding:5px;border-width:1px; border-color:grey; float:left; }

.aboutp {font-family:Sans-Serif; text-align:left; font-size: 20px}

 #grey {background-color:grey;}



.aboutcontainer {background-color:grey;} */